body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div {
    font-weight: 700;
    color: #343a40;
    line-height: 1;
    text-align: left;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
}

section {
  margin-bottom: 1%;
}

.title-bar {
  margin-top: 2%;
  margin-bottom: 1%;
}


.subheading {
  text-transform: uppercase;
  font-weight: 400;
}


.social {
  color: #343a40;
  font-size: 1.0rem;
  font-weight: 400;
  margin-right: 20px;
  margin-top: 3px;
}

.fa {
  padding: 5px 5px 5px 0px;
  color: #343a40;
  font-size: 1.1rem;
  margin-top: 5px;
}

.fa:hover {
  color: #0056b3;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 4%;
}

.place > small {
  font-weight: 600;
}

.time-footer {
  margin-top: 15px;
  margin-bottom: 0;
}

.time-footer > small {
  font-style: italic;
  color: #41464b;
}

.name {
  font-weight: 700;
}
/* 
.title, .name, .email {
  text-transform: uppercase;
} */

/* #profile-img {
} */
